<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/headerIndex') %>
            <main class="contenedor">
                <section>
                    <div class='banner'>
                    </div>
                </section>
                <h1 class='titulo'>Aceite de oliva, aceitunas y aceto.</h1>
                <Section class='productosDestacados'>

                    <div class="producto">
                        <h2 class='subtitulo'>Destacados del mes:</h2>
                        <br />

                        <% for(let producto of productos) { %>
                            <h4><a href="/detalle/<%= producto.id %>">
                                    <%= producto.nombre %>
                                </a></h4>
                            <p>
                                <%= producto.descripcion %> $ <%= producto.precio %>
                            </p>
                            <br />
                            <% } %>

                    </div>

                </Section>
                <br>
                <h2 class='titulo'> APROVECHA NUESTROS DESCUENTOS!!</h2>
                <h3 class='subtitulo'> Que no falte en tu mesa. </h3>
                <section class='productosPromo'>
                    <article class="producto">
                        <a href="/libanti1lt">
                            <img src='/images/productos/libanti1lt.jpg' class='imagen'>
                            <div class='infoProducto'>
                                <i class="fas fa-cart-plus"></i>
                                <section class='infoPrecio'>
                                    <p class='precio'> $900 </p>
                                    <p class='promocion'> 15% Off </p>
                                </section>
                                <section class='descripcion'>
                                    <h3> Libanti - 1Lt. </h3>
                                </section>
                            </div>
                        </a>
                    </article>
                    <article class="producto">
                        <a href='/libanti5lt'>
                            <img src='/images/productos/libanti5lt.jpg' class='imagen'>
                            <div class='infoProducto'>
                                <i class="fas fa-cart-plus"></i>
                                <section class='infoPrecio'>
                                    <p class='precio'> $4.150 </p>
                                    <p class='promocion'> 10% Off </p>
                                </section>
                                <section class='descripcion'>
                                    <h3> Libanti - 5Lt. </h3>
                                </section>
                            </div>
                        </a>
                    </article>
                    <article class="producto">
                        <a href='/elia3lt'>
                            <img src='/images/productos/elia3lt.jpg' class='imagen'>
                            <div class='infoProducto'>
                                <i class="fas fa-cart-plus"></i>
                                <section class='infoPrecio'>
                                    <p class='precio'> $3.000 </p>
                                    <p class='promocion'> 10% Off </p>
                                </section>
                                <section class='descripcion'>
                                    <h3> Eliá - 3Lt. </h3>
                                </section>
                            </div>
                        </a>
                    </article>
                    <article class="producto">
                        <a href='/elia5lt'>
                            <img src='/images/productos/elia5lt.jpg' class='imagen'>
                            <div class='infoProducto'>
                                <i class="fas fa-cart-plus"></i>
                                <section class='infoPrecio'>
                                    <p class='precio'> $4.900 </p>
                                    <p class='promocion'> 10% Off </p>
                                </section>
                                <section class='descripcion'>
                                    <h3> Eliá - 5Lt. </h3>
                                </section>
                            </div>
                        </a>
                    </article>
                    <article class="producto">
                        <a href='/libanti3Lt'>
                            <img src='/images/productos/libanti3lt.jpeg' class='imagen'>
                            <div class='infoProducto'>
                                <i class="fas fa-cart-plus"></i>
                                <section class='infoPrecio'>
                                    <p class='precio'> $2.600 </p>
                                    <p class='promocion'> 15% Off </p>
                                </section>
                                <section class='descripcion'>
                                    <h3> Libanti - 3Lt. </h3>
                                </section>
                            </div>
                        </a>
                    </article>
                </section>
                <h1 class="tituloPpal">Y vos.. ¿ya probaste nuestros productos?</h1>
                <section class='contenedorBox'>
                    <div class='box'>
                        <i class="fas fa-truck"></i>
                        <p> Consultá por nuestros métodos de envios.</p>
                    </div>
                    <div class='box'>
                        <i class="fas fa-dollar-sign"></i>
                        <p> Costos de envio por zona.</p>
                    </div>
                    <div class='box'>
                        <i class="fas fa-credit-card"></i>
                        <p>Formas de pago.</p>
                    </div>
                    <div class='box'>
                        <i class="fas fa-question-circle"></i>
                        <p>Preguntas frecuentes.</p>
                    </div>
                </section>
            </main>

            <%- include('./partials/footerIndex') %>

    </body>

</html>